{% if site.comments.provider and page.comments %}
{% case site.comments.provider %}
  {% when "disqus" %}
    {% include_cached /comments-providers/disqus.html %}
  {% when "discourse" %}
    {% include_cached /comments-providers/discourse.html %}
  {% when "facebook" %}
    {% include_cached /comments-providers/facebook.html %}
  {% when "staticman" %}
    {% include_cached /comments-providers/staticman.html %}
  {% when "staticman_v2" %}
    {% include_cached /comments-providers/staticman_v2.html %}
  {% when "utterances" %}
    {% include_cached /comments-providers/utterances.html %}
  {% when "custom" %}
    {% include_cached /comments-providers/custom_scripts.html %}
{% endcase %}
{% endif %}